/* Start coding here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border-1 {
  width: 100vw;
  height: 100vh;
  border: 16px solid lightgray;
}

.border-2 {
  width: 100%;
  height: 100%;
  border: 16px solid black;
}

.border-3 {
  width: 100%;
  height: 100%;
  border: 24px solid crimson;
  background-color: khaki;
}

h1 {
  font-size: 72px;
  padding: 30px;
  text-align: center;
}
